html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(120, 177, 231); */
    box-sizing: border-box;
}


/* Nav Bar Start Here */

.navbar {
    background-color: #333;
    font-family: Arial;
    height: 50px;
}

.navbar img {
    height: 35px;
    width: 70px;
}

.navbar a {
    color: rgb(241, 249, 255);
    text-decoration: none;
    padding: 10px;
    text-align: center;
}


/* Nav Bar End Here */