{% extends "layout.html" %} {% block body %}
<div class="evolution" align="justify">

    <h1>Events that led COVID-19 to global pandemic</h1>

    <div class="block-link">
    </div>
    <div class="steps">
        A pneumonia of unknown cause detected in Wuhan, China was first reported to the WHO Country Office in China on 31 December 2019.
    </div>
    <div class="block-link">
    </div>
    <div class="steps">
        WHO is working 24/7 to analyse data, provide advice, coordinate with partners, help countries prepare, increase supplies and manage expert networks.
    </div>
    <div class="block-link">
    </div>
    <div class="steps">
        The outbreak was declared a Public Health Emergency of International Concern on 30 January 2020.
    </div>
    <div class="block-link">
    </div>
    <div class="steps">
        On 11 February 2020, WHO announced a name for the new coronavirus disease: COVID-19.
    </div>
    <div class="block-link">
    </div>
    <div class="end-point">
        <div class="circle-space">
        </div>
        <div class="inner-point">
        </div>
    </div>

</div>{% endblock %}