<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <nav class="navbar" id="navbar">
        <a href="#">About Covid-19</a>
        <a href="#">Home</a>
        <a href="#">Evolution</a>
    </nav>
    <section id="state-data" class="site-update">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="data-table table-responsive" style="display: block;">
                        <table border="1" cellspacing="1" cellpadding="1" class="table table-striped" style="font-weight:bold">
                            <thead>
                                <tr>
                                    <th><strong>S. No.</strong></th>
                                    <th><strong>Name of State / UT</strong></th>
                                    <th><strong>Active Cases*</strong></th>

                                    <th><strong>Cured/Discharged/Migrated*</strong></th>
                                    <th><strong>Deaths**</strong></th>
                                    <th><strong>Total Confirmed cases*</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Andaman and Nicobar Islands</td>
                                    <td>0</td>
                                    <td>33</td>
                                    <td>0</td>
                                    <td>33</td>
                                </tr>
                                <tr>

                                    <td>2</td>
                                    <td>Andhra Pradesh</td>
                                    <td>2191</td>
                                    <td>2802</td>
                                    <td>77</td>
                                    <td>5070</td>
                                </tr>


                                <tr>
                                    <td>3</td>
                                    <td>Arunachal Pradesh</td>
                                    <td>56</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>57</td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td>Assam</td>
                                    <td>1848</td>
                                    <td>1085</td>
                                    <td>4</td>
                                    <td>2937</td>
                                </tr>

                                <tr>
                                    <td>5</td>
                                    <td>Bihar</td>
                                    <td>2563</td>
                                    <td>2864</td>
                                    <td>32</td>
                                    <td>5459</td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>Chandigarh</td>
                                    <td>32</td>
                                    <td>286</td>
                                    <td>5</td>
                                    <td>323</td>
                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>Chhattisgarh</td>
                                    <td>848</td>
                                    <td>386</td>
                                    <td>6</td>
                                    <td>1240</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Dadar Nagar Haveli</td>
                                    <td>20</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>22</td>
                                </tr>

                                <tr>
                                    <td>9</td>
                                    <td>Delhi</td>
                                    <td>18543</td>
                                    <td>11861</td>
                                    <td>905</td>
                                    <td>31309</td>
                                </tr>

                                <tr>
                                    <td>10</td>
                                    <td>Goa</td>
                                    <td>292</td>
                                    <td>67</td>
                                    <td>0</td>
                                    <td>359</td>
                                </tr>

                                <tr>
                                    <td>11</td>
                                    <td>Gujarat</td>
                                    <td>5336</td>
                                    <td>14365</td>
                                    <td>1313</td>
                                    <td>21014</td>
                                </tr>

                                <tr>
                                    <td>12</td>
                                    <td>Haryana</td>
                                    <td>3030</td>
                                    <td>2134</td>
                                    <td>45</td>
                                    <td>5209</td>
                                </tr>

                                <tr>
                                    <td>13</td>
                                    <td>Himachal Pradesh</td>
                                    <td>191</td>
                                    <td>249</td>
                                    <td>5</td>
                                    <td>445</td>
                                </tr>

                                <tr>
                                    <td>14</td>
                                    <td>Jammu and Kashmir</td>
                                    <td>2792</td>
                                    <td>1506</td>
                                    <td>48</td>
                                    <td>4346</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Jharkhand</td>
                                    <td>844</td>
                                    <td>559</td>
                                    <td>8</td>
                                    <td>1411</td>
                                </tr>

                                <tr>
                                    <td>16</td>
                                    <td>Karnataka</td>
                                    <td>3251</td>
                                    <td>2604</td>
                                    <td>66</td>
                                    <td>5921</td>
                                </tr>

                                <tr>
                                    <td>17</td>
                                    <td>Kerala</td>
                                    <td>1232</td>
                                    <td>848</td>
                                    <td>16</td>
                                    <td>2096</td>
                                </tr>

                                <tr>
                                    <td>18</td>
                                    <td>Ladakh</td>
                                    <td>55</td>
                                    <td>52</td>
                                    <td>1</td>
                                    <td>108</td>
                                </tr>

                                <tr>
                                    <td>19</td>
                                    <td>Madhya Pradesh</td>
                                    <td>2700</td>
                                    <td>6729</td>
                                    <td>420</td>
                                    <td>9849</td>
                                </tr>

                                <tr>
                                    <td>20</td>
                                    <td>Maharashtra</td>
                                    <td>44860</td>
                                    <td>42638</td>
                                    <td>3289</td>
                                    <td>90787</td>
                                </tr>

                                <tr>
                                    <td>21</td>
                                    <td>Manipur</td>
                                    <td>243</td>
                                    <td>61</td>
                                    <td>0</td>
                                    <td>304</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>Meghalaya</td>
                                    <td>29</td>
                                    <td>13</td>
                                    <td>1</td>
                                    <td>43</td>
                                </tr>

                                <tr>
                                    <td>23</td>
                                    <td>Mizoram</td>
                                    <td>87</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>Nagaland</td>
                                    <td>117</td>
                                    <td>10</td>
                                    <td>0</td>
                                    <td>127</td>
                                </tr>


                                <tr>
                                    <td>25</td>
                                    <td>Odisha</td>
                                    <td>998</td>
                                    <td>2133</td>
                                    <td>9</td>
                                    <td>3140</td>
                                </tr>

                                <tr>
                                    <td>26</td>
                                    <td>Puducherry</td>
                                    <td>75</td>
                                    <td>52</td>
                                    <td>0</td>
                                    <td>127</td>
                                </tr>

                                <tr>
                                    <td>27</td>
                                    <td>Punjab</td>
                                    <td>497</td>
                                    <td>2167</td>
                                    <td>55</td>
                                    <td>2719</td>
                                </tr>

                                <tr>
                                    <td>28</td>
                                    <td>Rajasthan</td>
                                    <td>2662</td>
                                    <td>8328</td>
                                    <td>255</td>
                                    <td>11245</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Sikkim</td>
                                    <td>13</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>13</td>
                                </tr>

                                <tr>
                                    <td>30</td>
                                    <td>Tamil Nadu</td>
                                    <td>16282</td>
                                    <td>18325</td>
                                    <td>307</td>
                                    <td>34914</td>
                                </tr>

                                <tr>
                                    <td>31</td>
                                    <td>Telengana</td>
                                    <td>1963</td>
                                    <td>1809</td>
                                    <td>148</td>
                                    <td>3920</td>
                                </tr>

                                <tr>
                                    <td>32</td>
                                    <td>Tripura</td>
                                    <td>671</td>
                                    <td>192</td>
                                    <td>1</td>
                                    <td>864</td>
                                </tr>



                                <tr>
                                    <td>33</td>
                                    <td>Uttarakhand</td>
                                    <td>769</td>
                                    <td>755</td>
                                    <td>13</td>
                                    <td>1537</td>
                                </tr>

                                <tr>
                                    <td>34</td>
                                    <td>Uttar Pradesh</td>
                                    <td>4365</td>
                                    <td>6669</td>
                                    <td>301</td>
                                    <td>11335</td>
                                </tr>

                                <tr>
                                    <td>35</td>
                                    <td>West Bengal</td>
                                    <td>4950</td>
                                    <td>3620</td>
                                    <td>415</td>
                                    <td>8985</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Cases being reassigned to states</td>
                                    <td>9227</td>
                                    <td></td>
                                    <td></td>
                                    <td>9227</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="1"><strong><span>Total#</span></strong></td>
                                    <td align="right" style="text-align:right;"><strong>133632</strong></td>
                                    <td>
                                        <strong>135206</strong>
                                    </td>
                                    <td>
                                        <strong>7745</strong>
                                    </td>
                                    <td>
                                        <strong>276583</strong>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>